body{
    background-image: url(https://as1.ftcdn.net/v2/jpg/03/25/38/74/500_F_325387454_sPiaCL3tpIyVnA2YxQEFGl7IXRCqbjnJ.jpg);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover;
    text-align: center;
    font-weight: bold;
}
h1 {
    color:goldenrod;
}
#message-el {
    font-style: italic;
}
p {
    color: whitesmoke;
}
button {
    color:#016f32;
    width: 150px;
    background:goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}